<div class="top text-center">
    <h1><i class="fas fa-briefcase"></i> {{title}}</h1>
    <hr class="my-4">
    <p>Check out some of the projects I have completed below...</p>
</div>
<div class="container-fluid text-center">
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="../../assets/RossRealEstate/home.html">
                    <img src="../../assets/realEstate.jpeg">
                </a>
                <p><strong>Real Estate Website</strong></p>
                <p>Meet Ross and his properties</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="../../assets/PokeGame/assignment5.html">
                    <img src="../../assets/pokemon.jpg">
                </a>
                <p><strong>Pokémon Game</strong></p>
                <p>Can you catch 'em all?</p>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="../../assets/BMR/assignment1.html">
                    <img src="../../assets/bmr.jpg">
                </a>
                <p><strong>BMR Calculator</strong></p>
                <p>Find out your daily caloric intake</p>
            </div>
        </div>
    </div>
</div>