<nav class="navbar fixed-top" routerLinkActive="active">
    <div class="logo">Logo here</div>
    <div class="nav-wrapper justify-content-end">
        <a class="nav-item" routerLinkActive="active-link" routerLink="/"><i class="fas fa-shoe-prints"></i> Home</a>
        <a class="nav-item" routerLinkActive="active-link" routerLink="/about"><i class="fas fa-portrait"></i> About</a>
        <a class="nav-item" routerLinkActive="active-link" routerLink="/projects"><i class="fas fa-briefcase"></i> Projects</a>
        <a class="nav-item" routerLinkActive="active-link" routerLink="/services"><i class="fas fa-concierge-bell"></i> Services</a>
        <a class="nav-item" routerLinkActive="active-link" routerLink="/contact"><i class="fa fa-envelope"></i> Contact</a>
    </div>
</nav>
<div class="fixed-bottom text-center topPage">
    <fa class="chevron" name="chevron-circle-up" size="4x"></fa>
</div>

<router-outlet>
</router-outlet>