/* You can add global styles to this file, and also import other style files */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    background-color: #C5CAE9;
    box-shadow: 2px 2px 4px #000000;
}