<div class="jumbotron top">
    <div class="container">
        <h1 class="display-4"><i class="fas fa-shoe-prints"></i> {{title}}</h1>
        <h2 class="lead">A software engineer for your software engineering needs.</h2>
        <h3 class="lead">My business is to provide you with the tools to help you stand out and compete in the marketplace.</h3>
        <hr class="my-4">
        <p class="lead">Interested? Find what you're looking for below...</p>
        <a type="button" class="btn btn-primary btn-lg" href="/about">About Me</a>
        <a type="button" class="btn btn-primary btn-lg" href="/projects">Past Projects</a>
        <a type="button" class="btn btn-primary btn-lg" href="/services">Services</a>
        <a type="button" class="btn btn-primary btn-lg" href="/contact">Contact Me</a>
    </div>
</div>